.encabezado {
   display: grid;
   grid-template-rows: auto auto;
   align-items: center;
   gap: 10px;
   padding: 10px;
 }
 
 .encabezado .img {
   margin: 0 auto;
   display: flex;
   align-items: center;
 }
 
 .encabezado img {
   width: 50px;
   margin-right: 10px;
 }
 
 .encabezado .menu {
   margin: 0 auto;
 }
 .encabezado .menu a {
   padding: 5px;
   margin-left: 15px;
   text-decoration: none;
   color: #333;
 }
 